.AddAlbum {
  padding: 1rem;
  align-content: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-self: auto;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.Add_Container {
  align-items: center;
  justify-content: center;
  background-color: #444444;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 610px;
  width: 410px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.Add_List_Container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  width: 90%;
  height: 100%;
  padding: 12px;
  position: relative;
  overflow: hidden;

}

.Add_List_Li {
  border-radius: 20px;
  flex-direction: column;
  list-style: none;
  padding: 12px;
  height: 20px;
  margin-bottom: 20px;
  border: none;
}

.Add_List_Li_Description {

  border-radius: 20px;
  flex-direction: column;
  list-style: none;
  padding: 10px;
  height: 150px;
  margin-bottom: 10px;
  border: none;
  overflow-y: scroll;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  gap: 250px;
  padding: 25px;

}

.buttons {
  height: 40px;
  cursor: pointer; 
}

@media screen and (max-width: 600px) {
  .AlbumList_Container {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-auto-rows: 210px;
    grid-template-columns: repeat(1, 180px);
  }
}
