.AlbumCard {
  width: 160px;
  height: 160px;
  border-radius: 15%;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.AlbumCard_img {
  border-radius: 15%;
  display: flex;
}

.AlbumCard_img:hover {
  cursor: pointer;
  border-width: 2px;
  outline: #f59904;
  outline-style: solid;
  color: #f59904;
}
.AlbumCard:hover {
  cursor: pointer;
  color: #f59904;
}

.AlbumCard_AlbumName {
  display: flex;
  font-size: 10px;
  justify-content: center;
  color: #ffffff;
}
.AlbumCard_AlbumName:hover {
  color: #f59904;
}
